
body {
    min-width: 960px
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.clearfix:before, .clearfix:after, .container_12:before, .container_12:after, .container_16:before, .container_16:after {
    content: '.';
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0
}

.clearfix:after, .container_12:after, .container_16:after {
    clear: both
}

.clearfix, .container_12, .container_16 {
    zoom: 1
}

body {
    font-family: Verdana;
    font-size: small;
    margin: 20px 0;
    color: #000;
}

#header div {
    height: 171px;
    border-radius: 4px;
    background: url('/img/anno2070logo.jpg');
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

    h1 .alpha {
        font-size: 10px;
        font-weight: normal;
        color: #FF0000;
    }

.table td {
    display: table-cell;
    vertical-align: middle;
}

.modal-xl {
    max-width: 1140px;
}

.ui-fieldset {
    border-top: 1px solid #CECECE;
    margin: 15px;
    margin-bottom: 20px;
}

    .ui-fieldset legend {
        font-weight: bold;
        color: #000;
        font-size: unset;
        width:unset;
        padding-right:5px;
    }

.ui-fchain-item {
    float: left;
    width: 130px;
    margin-bottom: 10px;
    margin-right: -1px;
    border: 1px solid #00000031;
    border-radius: 4px;
    padding: 10px;
}
.ui-fchain-item.danger {
    border-color: #FF0000;
    background-color: #FFBBBB;
}

.ui-fchain-item-tr-button {
    margin-left: calc(100% - 1.25rem);
}

.ui-fchain-item-tr-button div {
    position: absolute;
    margin-top: -10px;
}

.ui-fchain-item-tr-button div .btn-light {
    background-color: rgba(248, 249, 250, 0.5);
    border-color: rgba(248, 249, 250, 0.5);
}

.ui-fchain-item-tr-button div .btn-dark {
    background-color: rgba(52, 58, 64, 0.5);
    border-color: rgba(52, 58, 64, 0.5);
}

.ui-fchain-item-tr-checkbox {
    display: flex;
    justify-content: flex-end;
    margin-right: -10px;
}

.ui-fchain-item-tr-checkbox div {
    position: absolute;
    margin-top: -15px;
    margin-right: -0.5rem;
}

.ui-fchain-item-icon {
    text-align: center;
    margin-top: 5px;
}

.ui-fchain-item-icon-replacement {
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.ui-fchain-item-name {
    font-size: 12px;
    text-align: center;
    word-wrap: break-word;
    height: 2rem;
}

.float-right + .ui-fchain-item {
    max-width: calc(100% - 16px);
}

.ui-fchain-item-attribute-group {
    display: flex;
    flex-flow: column;
    height: 6rem;
    justify-content: space-around;
    margin: -0.75rem 0rem;
}

.ui-fchain-item-attribute-group .mb-3 {
    margin-bottom: 0rem !important;
}

.ui-fchain-item-boost {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.ui-fchain-item-count {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.ui-fchain-item-amount {
    font-size: 12px;
    text-align: center;
}

.ui-fchain-item-module {
    flex-flow: row;
    display: flex;
}

.ui-fchain-item-extra-input {
    padding-top: 5px;
    margin-bottom: -10px;
}

.ui-fchain-item-load {
    font-size: 10px;
    margin-top: 5px;
    text-align: center;
}

.ui-fchain-item-loadbar {
    height: 6px;
    margin: 2px 14px 0 14px;
    border: 1px solid #000;
}

.ui-fchain-spacer {
    float: left;
    color: #CECECE;
    font-size: 30px;
    margin: auto 25px;
    line-height: 115px;
}

.ui-replacement-spacer {
    color: #CECECE;
    font-size: initial;
    line-height: 30px;
}

.ui-tier-unit {
    float: left;
    margin-right: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ui-tier-unit-icon {
}

.ui-tier-icon {
    float: left;
    margin-right: 12px;
}

.ui-tier-unit-name {
    font-weight: bold;
}

.ui-tier-unit input {
    width: 80px;
    border: 1px solid #CECECE;
    border-radius: 4px;
    height: unset;
    padding: 0;
}

#nav {
    text-align: center;
    margin-top: 10px;
}

    #nav ul li {
        display: inline;
        margin-right: 10px;
    }

    #nav a, #nav a:active, #nav a:hover, #nav a:visited {
        color: blue;
        text-decoration: underline;
    }

.center {
    text-align: center;
}

.right {
    float: right;
}

.hspacer15 {
    margin-top: 15px;
}

.fleft {
    float: left;
}

#footer {
    color: #CECECE;
}



    .spinner input {
        text-align: right;
    }

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

    .input-group-btn-vertical > .btn {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
        padding: 9px;
        margin-left: -1px;
        position: relative;
        border-radius: 0;
    }

        .input-group-btn-vertical > .btn:first-child {
            border-top-right-radius: 4px;
        }

        .input-group-btn-vertical > .btn:last-child {
            margin-top: -2px;
            border-bottom-right-radius: 4px;
        }

    .input-group-btn-vertical i {
        position: absolute;
        top: 0;
        left: 4px;
    }

    .input-group{
        flex-wrap:unset;
    }

    .form-control{
        padding: 0.25rem;
    }

.input-group-text{
    padding: 0.25rem;
}

.ui-tier-unit  .form-control{
    width: 6rem ;
}

.collapser {
    cursor:pointer;
}

.input-group-text{
    font-size:0.7rem;
}

p{
    margin-bottom:unset;
}

.collapser > .fa {
    display:none;
}

.collapsed > .fa-chevron-right{
    display:inline;
}

:not(.collapsed) > .fa-chevron-down {
    display: inline;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

.subscript-icon {
   vertical-align:bottom;
   height: 20px;
   width: 20px;
   margin-left:-20px;
}

.inactive {
    color: grey;
}

.strike-through {
    position: relative;
    display: inline-block;
}

.strike-through::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 3px solid;
    border-top-color: currentcolor;
    border-color: #CECECE;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(--30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.help {
    float: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.danger-icon {
    position: absolute;
    color: red;
    z-index: 1000;
}

/* dark-mode styles */
.bg-darker {
    background: #222;
}

.ui-fchain-item.danger.bg-dark {
    border-color: #A66A6A;
    background: #DB7979!important;
}

.ui-fchain-item.bg-dark {
    border: 1px solid #ffffffce;
}

.bg-dark .icon-dark {
    display: none;
}

.bg-light:not(.bg-dark) .icon-light {
    display: none;
}

.bg-dark .danger-icon {
    color: #CB4141;
}