<div id="factory-config-dialog" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true" data-bind="with: $root.selectedFactory()">
    <div class="modal-dialog modal-lg" data-bind="css: {'modal-xl': $root.productionChain.breadth() > 5}">
        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-light mr-2" data-bind="visible: $data.region, component: {name: 'asset-icon', params: $data.region}"></span>
                <h4 data-bind="text: $data.name">Factory Name</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <table class="table table-striped table-fixed">
                    <tbody>
                        <tr>
                            <!-- existing buildings and boost -->
                            <td>
                                <div data-bind="component: { name: 'existing-buildings-input', params: $data}"></div>

                            </td>
                            <td>
                                <div data-bind="if: !!$data.clipped">
                                    <div class="custom-control custom-checkbox" data-bind="visible: !!$data.clipped">
                                        <input type="checkbox" class="custom-control-input" data-bind="checked: $data.clipped, attr: { id: $data.guid + '-clipped' }">
                                        <label class="custom-control-label" data-bind="attr: { for: $data.guid + '-clipped', title: 'Clipping' }" src-only>
                                            Clipping
                                        </label>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div href="#" data-toggle="tooltip" data-bind="if: $data.percentBoost, attr: {'title' : $root.texts.productionBoost.name}">
                                    <div class="input-group input-group spinner" style="padding-left: 2rem">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" data-bind="text:$root.texts.productionBoost.name ">
                                            </div>
                                        </div>
                                        <input class="form-control" type="number" value="100" step="1" min="1" data-bind="value: percentBoost, attr: {id: $data.guid + '-percentBoost-input'}" />
                                        <div class="input-group-append">
                                            <div data-bind="component: { name: 'number-input-increment', params: { obs: $data.percentBoost, id: $data.guid + '-percentBoost-input' }}"></div>
                                            <span class="input-group-text">%</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr data-bind="with: $data.workforceDemand">
                            <!-- workforce -->
                            <td>
                                <span data-bind="text: $root.texts.workforce.name"></span>
                            </td>
                            <td>
                                <div class="input-group input-group-short spinner">
                                    <input class="form-control" type="number" value="100" step="10" min="0" data-bind="value: percentBoost, attr: {id: $parent.guid + '-workforcePercentBoost-input'}" />
                                    <div class="input-group-append">
                                        <div data-bind="component: { name: 'number-input-increment', params: { obs: $data.percentBoost, id: $parent.guid + '-workforcePercentBoost-input' }}"></div>
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span data-bind="text: formatNumber($data.amount())"></span>
                                    <img class="mr-2 icon-sm" data-bind="attr: { src: $data.workforce().icon ? $data.workforce().icon : null, alt: $data.workforce().name}">
                                </div>
                            </td>
                        </tr>

                        <!-- ko if: $data.palaceBuff && $data.palaceBuff.visible() -->
                        <tr>
                            <!-- extra goods palace -->
                            <td colspan="2">
                                <div class="inline-list">
                                    <div data-bind="component: {name: 'icon-checkbox', params: {asset: $data.palaceBuff, checked: $data.palaceBuffChecked, id: $data.guid + '-palaceBuff'}}"></div>
                                    <span class="ml-1" data-bind="text: $data.palaceBuff.name"></span>
                                </div>
                            </td>
                            <td>
                                <div data-bind="component: {name: 'additional-output', params: {amount: $data.palaceBuffExtraGoods}}"></div>
                            </td>
                        </tr>
                        <!-- /ko -->
                        <!-- ko foreach: ["module", "fertilizerModule"].filter(m => $data[m] && $data[m].visible()) -->
                        <tr data-bind="withProperties: {module: $parent[$data], moduleChecked: $parent[$data + 'Checked'], moduleDemand: $parent[$data + 'Demand'], moduleExtraGoods: $parent[$data + 'ExtraGoods']}">
                            <!-- extra goods module -->

                            <td>
                                <div class="inline-list">
                                    <div data-bind="component: {name: 'icon-checkbox', params: {asset: module, checked: moduleChecked, id: $parent.guid + '-' + $data}}"></div>
                                    <span class="ml-1" data-bind="text: module.name"></span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <img class="mr-2 icon-sm" data-bind="attr: { src: moduleDemand.product.icon ? moduleDemand.product.icon : null, alt: moduleDemand.product.name}">
                                    <img class="icon-sm icon-light ml-1" src="../icons/icon_marketplace_2d_light.png" data-bind="attr: {title: $root.texts.consumption.name}">
                                    <span data-bind="text: formatNumber(moduleDemand.amount())"></span><span> t/min</span>
                                </div>
                            </td>
                            <td>
                                <div data-bind="component: {name: 'additional-output', params: {amount: moduleExtraGoods}}"></div>
                            </td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>

                <div data-bind="if: $data.availableItems().length">
                    <collapsible params="id: 'factory-config-equipped-items', heading: $root.texts.itemsEquipped.name, collapsed: true, data: $data">
                        <table class="table table-striped">
                            <tbody data-bind="foreach: $data.availableItems">
                                <tr>
                                    <td>
                                        <div class="inline-list">
                                            <div data-bind="component: {name: 'icon-checkbox', params: {asset: $data.item, checked: $data.checked, id: 'fc-' + $data.factory.guid + '-' + $data.item.guid + '-equipped'}}"></div>
                                            <span class="ml-1" data-bind="text: $data.name, attr: {for: 'fc-' + $data.factory.guid + '-' + $data.item.guid + '-equipped'}"></span> <!-- item name -->
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <!-- extra goods -->
                                            <span data-bind="if: $data.item.extraGoods">
                                                
                                                <span class="inline-list-centered">
                                                    <img class="icon-sm icon-light mr-2" src="../icons/icon_add_goods_socket_white.png" />
                                                    <!-- ko foreach: $data.extraGoods -->
                                                    <span style="flex: 100 1 auto;"></span>

                                                    <span style="flex: auto;" daba-bind="visible: $data.product.visible()">
                                                        <img class="icon-sm" data-bind="attr: { src: $data.product.icon ? $data.product.icon  : null, alt: $data.product.name }" />
                                                    </span>

                                                    <span style="flex: 100 1 auto;"></span>
                                                    <!-- /ko -->
                                                </span>
                                            </span>
                                            <!-- input replacements -->
                                            <div data-bind="if: $data.replacementArray">
                                                <div data-bind="foreach: $data.replacementArray">
                                                    <replacement params="{old: $data.old, new: $data.new}"></replacement>
                                                </div>
                                            </div>
                                            <!-- workforce replacement -->
                                            <div data-bind="if: $data.replacingWorkforce && $parent.workforceDemand.defaultWorkforce.guid !== $data.replacingWorkforce">
                                                <replacement params="{old: $parent.workforceDemand.defaultWorkforce, new: $data.replacingWorkforce}"></replacement>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </collapsible>
                </div>
                <div data-bind="if: $data.tradeList != null && $data.tradeList.visible()">
                    <collapsible params="id: 'factory-config-trade-routes', heading: $root.texts.tradeRoutes.name, collapsed: true, data: $data.tradeList, summary: $data.tradeList.amount, colorSummary: true">
                        <div class="mb-3 inline-list-stretched" data-bind="foreach: $data.npcRoutes">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" data-bind="checked: $data.checked, attr: { id: $data.trader.guid + '-npcRoute-checked' }">
                                <label class="custom-control-label" data-bind="attr: { for: $data.trader.guid + '-npcRoute-checked' }" src-only style="vertical-align: top;">
                                    <img class="icon-sm" data-bind="attr:{src: $data.trader.icon}" />
                                    <span data-bind="text: $data.trader.name"></span>
                                </label>
                            </div>

                            <div>
                                <span data-bind="text: formatNumber($data.amount)"></span>
                                <span> t/min</span>
                            </div>
                        </div>

                        <table class="table table-striped table-sm" data-bind="if: !$data.island.isAllIslands()">
                            <tbody data-bind="foreach: $data.routes">
                                <tr>
                                    <td>
                                        <span data-bind="if: $data.getOpposite($parent).session">
                                            <img class="icon-sm icon-light" data-bind="attr: {src: $data.getOpposite($parent).session.icon}" />
                                        </span>
                                        <a href="#" data-bind="text: $data.getOpposite($parent).name, click: () => {$root.selectedFactory($data.getOppositeFactory($parent.factory)); $root.island($data.getOpposite($parent))}"></a>
                                    </td> <!-- island name -->

                                    <td>
                                        <div data-bind="if: $data.isExport($parent) && $parent.factory.overProduction() > ACCURACY">
                                            <div href="#" data-toggle="tooltip" data-bind="attr: {'title' : $root.texts.exportOverproduction.name}">
                                                <span data-bind="text: formatNumber($parent.factory.overProduction())"></span>
                                                <button class="btn btn-light btn-sm" data-bind="click: () => $data.amount($data.amount() + $parent.factory.overProduction())">
                                                    <span class="fa fa-sign-in"> </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div data-bind="if: !$data.isExport($parent) && $parent.factory.substitutableOutputAmount() > ACCURACY">
                                            <div href="#" data-toggle="tooltip" data-bind="attr: {'title' : $root.texts.importDeficit.name}">
                                                <span data-bind="text: formatNumber($parent.factory.substitutableOutputAmount())"></span>
                                                <button class="btn btn-light btn-sm" data-bind="click: () => $data.amount($data.amount() + $parent.factory.substitutableOutputAmount())">
                                                    <span class="fa fa-sign-in"> </span>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>

                                        <div class="input-group spinner" style="max-width: 12rem">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <span data-bind="if: $data.isExport($parent)">

                                                        <img class="icon-sm icon-light" src="../icons/icon_transporter_unloading_light.png" />
                                                    </span>
                                                    <span data-bind="if: !$data.isExport($parent)">

                                                        <img class="icon-sm icon-light" src="../icons/icon_transporter_loading_light.png" />
                                                    </span>
                                                </div>
                                                <span data-bind="if: !$data.isExport($parent) && $data.fromFactory.isHighlightedAsMissing()">
                                                    <span class="fa fa-exclamation-triangle danger-icon"></span>
                                                </span>
                                            </div>
                                            <input step="0.1" min="0" class="form-control" type="number" value="0" data-bind="value: amount, attr: {id: $data.guid + '-amount-input' } " />
                                            <div class="input-group-append">
                                                <div data-bind="component: { name: 'number-input-increment', params: { obs: $data.amount, id: $data.guid + '-amount-input' }}"></div>
                                                <span class="input-group-text">t/min</span>
                                            </div>
                                        </div>

                                    </td>
                                    <td>

                                        <button class="btn btn-secondary btn-sm float-right" data-bind="click: () => $data.delete()">
                                            <span class="fa fa-trash"> </span>
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form class="form form-inline" data-bind="if: $data.unusedIslands().length && !$data.island.isAllIslands() " style="justify-content: space-between">

                            <select name="islands" class="custom-select" id="islands" data-bind="value: $data.selectedIsland, options: $data.unusedIslands, optionsText: i => i.sessionExtendedName() /* + '\t' + i.assetsMap.get($data.factory.guid).overProduction() + ' t/min' */"></select>
                            <div style="display: flex">
                                <div class="mr-2">

                                    <img class="icon-sm icon-light" src="../icons/icon_transporter_loading_light.png" />
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="create-trade-route-export-checkbox" data-bind="checked: $data.export">
                                    <label class="custom-control-label" for="create-trade-route-export-checkbox">

                                        <img class="icon-sm icon-light" src="../icons/icon_transporter_unloading_light.png" />
                                    </label>
                                </div>
                            </div>
                            <div class="input-group input-group-short spinner">

                                <input step="0.1" class="form-control" type="number" value="0" data-bind="value: newAmount" />
                                <div class="input-group-append">
                                    <span class="input-group-text">t/min</span>
                                </div>
                            </div>
                            <button class="btn btn-sm btn-light" data-bind="click: () => $data.create(), enable: $data.canCreate()">
                                <span class="fa fa-plus"></span>
                            </button>
                        </form>


                    </collapsible>
                </div>



                <div data-bind="if:  $root.dlcsMap.get('dlc7').checked() && $data.isFactory && $data.getProduct().exchangeWeight && $data.contractList">
                    <collapsible params="id: 'factory-config-trade-contracts', heading: $root.texts.docklands.name, collapsed: true, data: $data.contractList, summary: $data.contractList.amount, colorSummary: true">
                        <div data-bind="if: $data.exports().length || $data.imports().length">
                            <table class="table table-striped table-sm">
                                <tbody>
                                    <!-- export contracts -->
                                    <!-- ko foreach: $data.exports -->
                                    <tr>
                                        <td>
                                            <div class="input-group spinner input-transfer-amount">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <img class="icon-sm icon-light" src="../icons/icon_transporter_loading_light.png" />

                                                        <a href="#" data-bind="click: () => {$root.selectedFactory($data.importFactory)}, attr: {title: $data.importFactory.name()}" style="margin: 0 0.25rem;">
                                                            <img class="icon-sm" data-bind="attr: { src: $data.importFactory.icon ? $data.importFactory.icon : null, alt: $data.importFactory.name}">
                                                        </a>
                                                    </span>
                                                </div>
                                                <input step="0.1" min="0" class="form-control" type="number" value="0" data-bind="value: importAmount, attr: {id: $data.importFactory.guid + '-export-contract-import-amount-input' } " />
                                                <div class="input-group-append">
                                                    <div data-bind="component: { name: 'number-input-increment', params: { obs: $data.importAmount, id: $data.importFactory.guid + '-export-contract-import-amount-input' }}"></div>
                                                    <span class="input-group-text">t/min</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td><span>&larr;</span></td>
                                        <td>
                                            <div class="float-right" data-bind="if: $parent.factory.overProduction() > ACCURACY">
                                                <div href="#" data-toggle="tooltip" data-bind="attr: {'title' : $root.texts.exportOverproduction.name}">
                                                    <span data-bind="text: formatNumber($parent.factory.overProduction())"></span>
                                                    <button class="btn btn-light btn-sm" data-bind="click: () => $data.exportAmount($data.exportAmount() + $parent.factory.overProduction())">
                                                        <span class="fa fa-sign-in"> </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td>

                                            <div class="input-group spinner float-right input-transfer-amount">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <img class="icon-sm icon-light" src="../icons/icon_transporter_unloading_light.png" />
                                                        <img class="icon-sm" data-bind="attr: { src: $data.exportFactory.icon ? $data.exportFactory.icon : null, alt: $data.exportFactory.name}" style="margin: 0 0.25rem;">

                                                    </span>
                                                </div>
                                                <span data-bind="if: $data.exportFactory.isHighlightedAsMissing()">
                                                    <span class="fa fa-exclamation-triangle danger-icon"></span>
                                                </span>
                                                <input step="0.1" min="0" class="form-control" type="number" value="0" data-bind="value: exportAmount, attr: {id: $data.importFactory.guid + '-export-contract-export-amount-input' } " />
                                                <div class="input-group-append">
                                                    <div data-bind="component: { name: 'number-input-increment', params: { obs: $data.exportAmount, id: $data.importFactory.guid + '-export-contract-export-amount-input' }}"></div>
                                                    <span class="input-group-text">t/min</span>
                                                </div>
                                            </div>

                                        </td>
                                        <td>

                                            <button class="btn btn-secondary btn-sm float-right" data-bind="click: () => $data.delete()">
                                                <span class="fa fa-trash"> </span>
                                            </button>

                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                    <!-- import contracts -->
                                    <!-- ko foreach: $data.imports -->
                                    <tr>
                                        <td>
                                            <div class="input-group spinner input-transfer-amount">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <img class="icon-sm icon-light" src="../icons/icon_transporter_unloading_light.png" />
                                                        <a href="#" data-bind="click: () => {$root.selectedFactory($data.exportFactory)}, attr: {title: $data.exportFactory.name()}" style="margin: 0 0.25rem;">
                                                            <img class="icon-sm" data-bind="attr: { src: $data.exportFactory.icon ? $data.exportFactory.icon : null, alt: $data.exportFactory.name}">
                                                        </a>
                                                    </span>
                                                    <span data-bind="if: $data.exportFactory.isHighlightedAsMissing()">
                                                        <span class="fa fa-exclamation-triangle danger-icon"></span>
                                                    </span>
                                                </div>
                                                <input step="0.1" min="0" class="form-control" type="number" value="0" data-bind="value: exportAmount, attr: {id: $data.exportFactory.guid + '-import-contract-export-amount-input' } " />
                                                <div class="input-group-append">
                                                    <div data-bind="component: { name: 'number-input-increment', params: { obs: $data.exportAmount, id: $data.exportFactory.guid + '-import-contract-export-amount-input' }}"></div>
                                                    <span class="input-group-text">t/min</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td><span>&rarr;</span></td>
                                        <td>
                                            <div class="float-right" data-bind="if: $parent.factory.substitutableOutputAmount() > ACCURACY">
                                                <div href="#" data-toggle="tooltip" data-bind="attr: {'title' : $root.texts.importDeficit.name}">
                                                    <span data-bind="text: formatNumber($parent.factory.substitutableOutputAmount())"></span>
                                                    <button class="btn btn-light btn-sm" data-bind="click: () => $data.importAmount($data.importAmount() + $parent.factory.substitutableOutputAmount())">
                                                        <span class="fa fa-sign-in"> </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td>

                                            <div class="input-group spinner float-right input-transfer-amount">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <img class="icon-sm icon-light" src="../icons/icon_transporter_loading_light.png" />
                                                        <img class="icon-sm" data-bind="attr: { src: $data.importFactory.icon ? $data.importFactory.icon : null, alt: $data.importFactory.name}" style="margin: 0 0.25rem;">
                                                    </span>
                                                </div>
                                                <input step="0.1" min="0" class="form-control" type="number" value="0" data-bind="value: importAmount, attr: {id: $data.exportFactory.guid + '-import-contract-import-amount-input' } " />
                                                <div class="input-group-append">
                                                    <div data-bind="component: { name: 'number-input-increment', params: { obs: $data.importAmount, id: $data.exportFactory.guid + '-import-contract-import-amount-input' }}"></div>
                                                    <span class="input-group-text">t/min</span>
                                                </div>
                                            </div>

                                        </td>
                                        <td>

                                            <button class="btn btn-secondary btn-sm float-right" data-bind="click: () => $data.delete()">
                                                <span class="fa fa-trash"> </span>
                                            </button>

                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>

                        <!-- create new contracts -->
                        <form class="form form-inline" style="justify-content: space-between" data-bind="with: $root.contractCreatorFactory, visible: $root.contractCreatorFactory.canImport() || $root.contractCreatorFactory.canExport()">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img class="icon-sm icon-light" src="../icons/icon_transporter_unloading_light.png" data-bind="visible: !$data.export()" />
                                        <img class="icon-sm icon-light" src="../icons/icon_transporter_loading_light.png" data-bind="visible: $data.export()" />
                                    </span>
                                </div>
                                <select name="products" class="custom-select" id="contract-product" data-bind="value: $data.exchangeProduct, options: $data.exchangeProducts, optionsText: i => i.name()"></select>
                                <select name="factories" class="custom-select" id="contract-factory" data-bind="value: $data.exchangeFactory, options: $data.exchangeFactories, optionsText: i => i.getRegionExtendedName(), visible: $data.exchangeFactories().length > 1"></select>
                            </div>


                            <div>
                                <span data-bind="visible: $data.export()">&larr;</span>
                                <span data-bind="visible: !$data.export()">&rarr;</span>
                            </div>
                            <div style="display: flex">

                                <div class="mr-2" data-bind="visible: $data.canImport()">

                                    <img class="icon-sm icon-light" src="../icons/icon_transporter_loading_light.png" />
                                </div>

                                <div class="custom-control custom-switch" data-bind="visible: $data.canImport() && $data.canExport()">
                                    <input type="checkbox" class="custom-control-input" id="create-contract-export-checkbox" data-bind="checked: $data.export">
                                    <label class="custom-control-label" for="create-contract-export-checkbox" data-bind="visible: $data.canExport()">

                                        <img class="icon-sm icon-light" src="../icons/icon_transporter_unloading_light.png" />
                                    </label>
                                </div>

                                <div class="mr-2" data-bind="visible: !$data.canImport() && $data.canExport()">

                                    <img class="icon-sm icon-light" src="../icons/icon_transporter_unloading_light.png" />
                                </div>
                            </div>
                            <div class="input-group input-group-short spinner input-transfer-amount">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <img class="icon-sm" data-bind="attr: { src: $root.selectedFactory().icon ? $root.selectedFactory().icon : null, alt:$root.selectedFactory().name}" style="margin: 0 0.25rem;">
                                    </span>
                                </div>
                                <input step="0.1" class="form-control" type="number" value="0" data-bind="value: newAmount, attr: {id: 'factory-new-contract-amount-input' }" />
                                <div class="input-group-append">
                                    <div data-bind="component: { name: 'number-input-increment', params: { obs: $data.newAmount, id: 'factory-new-contract-amount-input' }}"></div>
                                    <span class="input-group-text">t/min</span>
                                </div>
                            </div>

                            <button class="btn btn-sm btn-light" data-bind="click: () => $data.create(), enable: $data.canCreate()">
                                <span class="fa fa-plus"></span>
                            </button>
                        </form>
                    </collapsible>
                </div>


                <div data-bind="if: $data.isFactory && $data.extraGoodProductionList && $data.extraGoodProductionList.amount() > ACCURACY">
                    <collapsible params="id: 'factory-config-extraGoods', heading: $root.texts.extraGoods.name, collapsed: false, data: $data, checkbox: $data.extraGoodProductionList.checked, summary: $data.extraGoodsDisplayAmount">

                        <!--<h6><span data-bind="text: $root.texts.extraGoods.name">Extra Goods</span><span> </span><img width="35" height="35" data-bind="attr: { src: $data.product.icon ? $data.product.icon : null, alt: $data.product.name}" /></h6>-->
                        <table class="table table-striped">
                            <tbody data-bind="foreach: $data.extraGoodProductionList.nonZero">
                                <tr>
                                    <td>
                                        <img class="icon-sm" data-bind="attr: { src: $data.item.item.icon ? $data.item.item.icon : null, alt: $data.item.name}"> <!-- item icon -->
                                        <img class="icon-sm" data-bind="attr: { src: $data.factory.icon ? $data.factory.icon : null, alt: $data.factory.name}">
                                    </td> <!-- factory icon -->
                                    <td>
                                        <div class="float-right">
                                            <span data-bind="text: formatNumber($data.amount())"></span>
                                            <span> t/min</span>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </collapsible>

                </div>


                <div data-bind="if: $data.demands && $data.totalDemands && $data.totalDemands() > ACCURACY">
                    <collapsible params="id: 'factory-config-consumption', heading: $root.texts.consumption.name, collapsed: true, data: $data, summary: $data.totalDemands">
                        <consumer-view params="factory: $data"></consumer-view>
                    </collapsible>

                </div>

                <div data-bind="if: $root.productionChain.tree()">
                    <collapsible params="id: 'factory-config-production-chain', heading: $root.texts.production.name, collapsed: false, data: $data, summary: $data.outputAmount">
                        <div class="tree" data-bind="with: $root.productionChain.tree()" style="justify-content: center">
                            <ul data-bind="template: 'treeElement'"></ul>
                        </div>
                    </collapsible>
                </div>

                <div class="mt-4" data-bind="component: { name: 'notes-section', params:{ $data: $data}}"></div>
            </div>
        <div class="modal-footer">
            <btn class="btn btn-light" data-bind="click: $data.applyConfigGlobally, visible: $root.islands().length > 1">
                <span data-bind="text: $root.texts.applyGlobally.name()">Apply Globally</span>
            </btn>
        </div>
    </div>
</div>
</div>