<div class="ui-tier-unit" data-bind="visible: $data.instance().visible()">
    <div style="margin-left: 100%;direction: rtl;" class="">
        <div style="position: absolute;">
            <button class="btn btn-light btn-sm" data-bind="click: () => {$root.selectedPopulationLevel($data.instance())}" data-toggle="modal" data-target="#population-level-config-dialog">
                <span class="fa fa-sliders"></span>
            </button>
        </div>
    </div>
    <div class="ui-tier-unit-icon mb-1">
        <img class="icon-tile" src="../icons/icon_marketplace_2d_light.png" data-bind="attr: { src: $data.icon ? $data.icon : null, alt: $data.name }">

    </div>
    <div class="ui-tier-unit-name" data-bind="visible: !$root.settings.hideNames.checked(), attr: {'tier-unit-guid' : guid}">
        <span data-bind="visible: hotkey, text: hotkey() ? '[' + hotkey().toUpperCase() + '] ' : ''"></span>
        <span data-bind="text: name"></span>
    </div>

    <div class="input text  mb-3">

        <div >
            <div class="input-group input-group-sm spinner">
                <div class="input-group-prepend" data-bind="src: {title: texts.residences.name()}">
                    <div class="input-group-text">
                        <img class="icon-sm icon-light" src="../icons/icon_house_white.png" />
                    </div>
                </div>
                <input step="10" class="form-control input-lg" type="number" value="0" min="0" data-bind="value:  $data.instance().existingBuildings, enable: $data.instance().canEdit(), attr: {title: 'Press '+name()[0]+' to focus', id: $data.guid + '-existingBuildings-input' };" />
                <div class="input-group-append">
                    <div data-bind="component: { name: 'number-input-increment', params: { obs: $data.instance().existingBuildings, id: $data.guid + '-existingBuildings-input' }}"></div>
                </div>
            </div>
        <div class="input-group input-group-sm spinner" style="max-width: 10rem;">
            <div class="input-group-prepend" data-bind="src: {title: texts.residents.name()}">
                <div class="input-group-text">
                    <img class="icon-sm icon-light" src="../icons/icon_resource_population.png" />
                </div>
            </div>
            <input class="form-control" type="text" value="0" step="100" min="0" data-bind="value: $data.instance().residentsInput, enable: $data.instance().canEdit()" />
        </div>

    </div>

</div>